aiofiles
aiosqlite
alabaster
antlr4-python3-runtime
anyio
appnope
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
attackcti
attrs
Babel
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
comm
debugpy
decorator
defusedxml
docutils
entrypoints
executing
fastjsonschema
flit_core
fqdn
gitdb
GitPython
idna
imagesize
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
isoduration
jedi
Jinja2
json5
jsonpointer
jsonschema
jupyter-book
jupyter-cache
jupyter-events
jupyter-server
jupyter-server-mathjax
jupyter-sphinx
jupyter-ydoc
jupyter_client
jupyter_core
jupyter_server_fileid
jupyter_server_ydoc
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
latexcodec
linkify-it-py
lxml
markdown-it-py
MarkupSafe
matplotlib-inline
mdit-py-plugins
mistune
myst-nb
myst-parser
nbclassic
nbclient
nbconvert
nbdime
nbformat~=5.7.0
nest-asyncio
notebook
notebook_shim
packaging
pandocfilters
parso
pexpect
pickleshare
platformdirs
prometheus-client
prompt-toolkit
psutil
ptyprocess
pure-eval
pybtex
pybtex-docutils
pycparser
pydantic~=1.10.2
pydata-sphinx-theme
Pygments
pyrsistent
python-dateutil
python-json-logger
pytz
PyYAML~=6.0
pyzmq
requests~=2.28.2
rfc3339-validator
rfc3986-validator
Send2Trash
simplejson
six
smmap
sniffio
snowballstemmer
soupsieve
Sphinx
sphinx-book-theme
sphinx-comments
sphinx-copybutton
sphinx-jupyterbook-latex
sphinx-multitoc-numbering
sphinx-thebe
sphinx-togglebutton
sphinx_design
sphinx_external_toc
sphinxcontrib-applehelp
sphinxcontrib-bibtex
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
stack-data
stix2
stix2-patterns
taxii2-client
terminado
tinycss2
tomli
tornado
traitlets
typing_extensions
uc-micro-py
uri-template
urllib3
wcwidth
webcolors
webencodings
websocket-client
widgetsnbextension
y-py
ypy-websocket
zipp
